/**
 * Les formulaires
 */


/*---------+
 | Général |
 +---------*/

form { 
  border: none ; 
}

input, button, select, label, .btn {
	vertical-align: middle ;
	font-family:    inherit ;
	font-size:      inherit ;
}

button, input, optgroup, select, textarea {
	color: @base-color ;
  
}

fieldset[disabled] input[type=checkbox], 
fieldset[disabled] input[type=radio], 
input[type=checkbox].disabled, 
input[type=checkbox][disabled], 
input[type=radio].disabled,
input[type=radio][disabled] {
  cursor: not-allowed ;
}

.btn:focus,
input[type="button"]:focus,
button:focus {
	outline: 0 ;
	-webkit-tap-highlight-color: transparent ;
	        user-select: none ;
}

/* if select styling bugs on WebKit */
/* select { -webkit-appearance: none; } */

/* 'x' appears on right of search input when text is entered. This removes it */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none ;
}


/*----------+
 | Éléments |
 +----------*/

fieldset {
  border: 1px solid @fieldset-border-color ; 
  border-radius: 8px ; 
  padding: 1em ; 
  margin-top: 1.5em ; 
}
legend {
  padding: 0 1em ; 
	border: 0 ;
  border-radius: 4px ; 
  background-color: @fieldset-legend-background ; 
	white-space: normal ;
  font-family: @font-stack-headings ; 
  font-weight: bold ; 
  color: @fieldset-legend-color ; 
}

textarea {
	min-height: 5em ;
	vertical-align: top ;
	font-family: inherit ;
	font-size: inherit ;
	resize: vertical ;
}

input, textarea {
  padding: 0.3em 0.6em ; 
  border: 1px solid @forms-elements-border-color ; 
  border-radius: 4px ; 
  margin-bottom: 0.8em ; 
  line-height: 1.5 ; 
  width: 100% ; 
}

input {
  display: block ; 
}
input[type="checkbox"], input[type="radio"] {
  display: inline-block ; 
  width: auto ; 
}
label {
  cursor: pointer ; 
}

