/**
 * Grilles de mise en page
 */

// Inspiré de KNACSS


/*---------+
 | Grilles |
 +---------*/

[class*="grid-"] {
	display: flex ;
	flex-direction: row ;
	flex-wrap: wrap ;
	justify-content: space-between ;
	margin-left: -@grid-gutter ;
}

[class*="grid-"] > * {
	flex: 0 0 auto ;
	display: block ; /* IE fix */
	margin-left: @grid-gutter ;
}


//--------+
// Mixins |
//--------*/

// Si vous voulez créer une classe n'ayant pas un nom en grid-*
.gridClass {
	display: flex ;
	flex-direction: row ;
	flex-wrap: wrap ;
	justify-content: space-between ;
	margin-left: -@grid-gutter ;

  & > * {
	  flex: 0 0 auto ;
	  display: block ; /* IE fix */
	  margin-left: @grid-gutter ;
  }
}

// LESS mixins for *equal* columns grid container
// example : .grid-perso { .grid(12); }
.grid(@number, @gutter:@grid-gutter) { 
 & > * {
	  width: ~'calc(100% * 1 / @{number} - @{gutter})' ;
	}
	& > .flex-item-double {
		width: ~'calc(100% * 2 / @{number} - @{gutter})' ;
	}
	@media (min-width: (@tiny-screen + 1)) and (max-width: @small-screen) {
		& > * {
			width: ~'calc(100% * 1 / 2 - @{gutter})' ;
		}
		& > .flex-item-double {
			width: ~'calc(100% - @{gutter})' ;
		}
	}
	@media (max-width: @tiny-screen) {
		& > * {
			width: ~'calc(100% - @{gutter})' ;
		}
		& > .flex-item-double {
			width: ~'calc(100% - @{gutter})' ;
		}
	}
}

// LESS mixins for *unequal* columns grid container
// example : .grid-perso { .uneven-grid(2, 1); }
 .uneven-grid(@left, @right, @gutter:@grid-gutter) { 
	& > *:nth-child(odd) {
		@size: (@left / (@left + @right)) * 100% ;
		width: ~'calc(@{size} - @{gutter})' ;
	}
	& > *:nth-child(even) {
		@size: (@right / (@left + @right)) * 100% ;
		width: ~'calc(@{size} - @{gutter})' ;
	}
	@media (max-width: @tiny-screen) {
		& > *:nth-child(n) {
			width: ~'calc(100% - @{gutter})' ;
		}
	}
}


