/** 
 * Layout : Alignements et positionnement
 */

/*-------------+
 | Alignements |
 +-------------*/

// Alignement de blocks
.left   { margin-right: auto ; }
.right  { margin-left: auto ;  }
.center {
	margin-left:  auto ;
	margin-right: auto ;
}

// Alignement de textes et de contenus
.txtleft    { text-align: left ;    }
.txtright   { text-align: right ;   }
.txtcenter  { text-align: center ;  }
.txtjustify { text-align: justify ; }


/*-----------+
 | Flottants |
 +-----------*/

// à gauche
.fl { float: left ; }
// à droite
.fr { float: right ; }

// Marge particulières pour les images
img.fl { margin-right: @small-value ; }
img.fr { margin-left: @small-value ;  }
img.fl, img.fr {
	margin-bottom: @tiny-value ;
}

// Créé un "BFC" Block Formating Context : il contient les flottants et
// il ne s'écoule pas autour d'un frère flottant
.mod {
	overflow: hidden ;
}

// Ces blocs doivent être placés sous les flottants 
.clear, .line, .row {
	clear: both ;
}

// Ces blocs doivent contenir les flottants 
.clearfix, .line {
	&::after {
		content: "" ;
		display: table ;
		clear: both ;
		border-collapse: collapse ;
	}
}


/*--------------+
 | Table layout |
 +--------------*/

.row {
	display: table ;
	table-layout: fixed ;
	width: 100% ;
}

.row > *, .col {
	display: table-cell ;
	vertical-align: top ;
}

// no table-cell for script tag when body is a .row 
body > script {
	display: none !important ;
}


/*--------------+
 | inline-block |
 +--------------*/

.inbl {
	display: inline-block ;
	vertical-align: top ;
}


/*----------------+
 | flexbox layout |
 +----------------*/

[class*="flex-container"] {
	display :  flex ;
	flex-wrap: wrap ;

  &.justify-space { justify-content: space-between ; }
}

.flex-container-h { flex-direction: row ;    }
.flex-container-v { flex-direction: column ; }

.flex-item-fluid {
	flex: 1 ;
}

.flex-item-first  { order : -1 ; }
.flex-item-medium { order : 0 ;  }
.flex-item-last   { order : 1 ;  }

.flex-item-center {
	margin: auto ;
}

