
/**
 * Reset CSS
 */


/*------------+
 | Soft reset |
 +------------*/

// switching to border-box model for all elements 
html {
	box-sizing: border-box ;
}

* {
	box-sizing: inherit ;
}

// Liens
a, .a-like {
	color: @base-color-link ;
  text-decoration: none ; 
	&:hover, &:focus, &:active {
		text-decoration: underline ;
	}
}
.skip-links {
	position: absolute ;
	
	& a {
		position: absolute ;
		overflow: hidden ;
		clip: rect(1px, 1px, 1px, 1px) ;
		padding: 0.5em ;
		background: black ;
		color: white ;
		
		&:focus {
			position: static ;
			overflow: visible ;
			clip: auto ;
		  text-decoration: none ;
      &:hover {
		    text-decoration: underline ;
      }
		}
	}
}

// Les listes
ul, ol {
	padding-left: 2em ;
}
ul {
  list-style: @ul-list-style ; 
}
ul.unstyled, ol.unstyled {
	padding-left: 0 ; 
  list-style: none ;
}
// Liste de définition
dt { font-weight: bold ; }
dd { margin-left: 2em ;  }
dl.unstyled {
  dt { font-weight: inherit ; }
  dd { margin-left: 0 ; }
}

// images
img {
	vertical-align: middle ;
}

// height auto only for non SVG images 
img:not([src$=".svg"]) {
	height: auto ;
}

figure {
	margin-left:  0 ;
	margin-right: 0 ;
}


/*---------------+
 | Contenu caché |
 +---------------*/

// Caché, mais pas pour une technologie d'assistance tel un lecteur d'écran 
.visually-hidden {
	position: absolute !important ;
	border: 0 !important ;
	height: 1px !important ;
	width: 1px !important ;
	padding: 0 !important ;
	overflow: hidden !important ;
	clip: rect(0, 0, 0, 0) !important ;
}

/*----------------------+
 | browsers consistency |
 +----------------------*/

// avoid top margins on first content element
p, .p-like,
ul, ol, dl,
blockquote, pre,
h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like,
h5, .h5-like,
h6, .h6-like {
	&:first-child {
		margin-top: 0 ;
	}
	&:last-child {
		margin-bottom: 0 ;
	}
}

// avoid margins on nested elements
li p,
li .p-like,
li ul,
li ol {
	margin-top:    0 ;
	margin-bottom: 0 ;
}

// max values
img,
table, td,
blockquote, code, pre,
textarea, input,
video, svg {
	max-width: 100% ;
}


