/**
 * Responsive Webdesign
 */

// Responsive large
@media (min-width: (@medium-screen + 1)) {

	.large-hidden  { display: none !important ; }
	.large-visible { display: block !important ; }

	.large-no-float { float: none ;	}
	.large-inbl {
		display: inline-block ;
		float: none ;
		vertical-align: top ;
	}
	.large-row {
		display: table ;
		table-layout: fixed ;
		width: 100% !important ;
	}
	.large-col {
		display: table-cell ;
		vertical-align: top ;
	}

	.large-w25 { width: 25% !important ; }
	.large-w33 { width: 33.3333% !important ; }
	.large-w50 { width: 50% !important ; }
	.large-w66 { width: 66.6666% !important ;	}
	.large-w75 { width: 75% !important ; }
	.large-w100,
	.large-wauto {
		display: block !important ;
		float: none !important ;
		clear: none !important ;
		width: auto !important ;
		margin-left: 0 !important ;
		margin-right: 0 !important ;
		border: 0 ;
	}

	.large-man { margin: 0 !important ;	}
}

// Responsive medium
@media (min-width: (@small-screen + 1)) and (max-width: @medium-screen) {

	.medium-hidden  { display: none !important ; }
	.medium-visible { display: block !important ; }

	.medium-no-float { float: none ; }
	.medium-inbl {
		display: inline-block ;
		float: none ;
		vertical-align: top ;
	}
	.medium-row {
		display: table ;
		table-layout: fixed ;
		width: 100% !important ;
	}
	.medium-col {
		display: table-cell ;
		vertical-align: top ;
	}

	.medium-w25 { width: 25% !important ; }
	.medium-w33 { width: 33.3333% !important ; }
	.medium-w50 { width: 50% !important ;	}
	.medium-w66 { width: 66.6666% !important ; }
	.medium-w75 { width: 75% !important ; }
	.medium-w100,
	.medium-wauto {
		display: block !important ;
		float: none !important ;
		clear: none !important ;
		width: auto !important ;
		margin-left: 0 !important ;
		margin-right: 0 !important ;
		border: 0 ;
	}

	.medium-man { margin: 0 !important ; }
}

// Responsive small
@media (min-width: (@tiny-screen + 1)) and (max-width: @small-screen) {

	.small-hidden  { display: none !important ; }
	.small-visible { display: block !important ; }

	.small-no-float { float: none ; }
	.small-inbl {
		display: inline-block ;
		float: none ;
		vertical-align: top ;
	}
	.small-row {
		display: table !important ;
		table-layout: fixed !important ;
		width: 100% !important ;
	}
	.small-col {
		display: table-cell !important ;
		vertical-align: top !important ;
	}

	.small-w25 { width: 25% !important ; }
	.small-w33 { width: 33.3333% !important ; }
	.small-w50 { width: 50% !important ; }
	.small-w66 { width: 66.6666% !important ;	}
	.small-w75 { width: 75% !important ; }
	.small-w100,
	.small-wauto {
		display: block !important ;
		float: none !important ;
		clear: none !important ;
		width: auto !important ;
		margin-left: 0 !important;
		margin-right: 0 !important ;
		border: 0;
	}

	.small-man { margin: 0 !important ;	}
	.small-pan { padding: 0 !important ; }
}

// Responsive tiny
@media (max-width: @tiny-screen) {

	// quick tiny resolution reset 
	.mod,
	.col,
	fieldset {
		display: block !important ;
		float: none !important ;
		clear: none !important ;
		width: auto !important ;
		margin-left: 0 !important ;
		margin-right: 0 !important ;
		border: 0 ;
	}
	.flex-container-h, .flex-container-v {
		flex-direction: column ;
	}
	.row {
		display: block !important ;
		width: 100% !important ;
	}

	.tiny-hidden  { display: none !important ; }
	.tiny-visible { display: block !important ;	}

	.tiny-no-float { float: none ; }
	.tiny-inbl {
		display: inline-block ;
		float: none ;
		vertical-align: top ;
	}
	.tiny-row {
		display: table !important ;
		table-layout: fixed !important ;
		width: 100% !important ;
	}
	.tiny-col {
		display: table-cell !important ;
		vertical-align: top !important ;
	}

	th,
	td {
		display: block !important ;
		width: auto !important ;
		text-align: left !important ;
	}
	thead {
		display: none ;
	}

	.tiny-w25 { width: 25% !important ; }
	.tiny-w33 { width: 33.3333% !important ; }
	.tiny-w50 { width: 50% !important ; }
	.tiny-w66 { width: 66.6666% !important ; }
	.tiny-w75 { width: 75% !important ; }
	.tiny-w100,
	.tiny-wauto {
		display: block !important ;
		float: none !important ;
		clear: none !important ;
		width: auto !important ;
		margin-left: 0 !important ;
		margin-right: 0 !important ;
		border: 0 ;
	}

	.tiny-man { margin: 0 !important ; }
	.tiny-pan { padding: 0 !important ; }
}

