/**
 * Les tableaux
 */

table,
.table {
	width: 100% ;
	max-width : 100% ;
  margin-bottom: @baseline-height ; 
	table-layout: fixed ;
	border-collapse: collapse ;
	vertical-align: top ;
	border: 1px solid @table-border-color ;
}

.table {
	display: table ;
}

table.table-auto {
	table-layout: auto ;
}

caption {
  margin: 0 ; 
	padding: @small-value ;
	font-style: italic ;
}

td, th {
  padding: 0.3em 0.8em ;
	border: 1px @table-border-color dotted ;
	vertical-align: top ;
	min-width: @medium-value ;
	cursor: default ;
	text-align: left ;
}

// striped tables 
.table-striped tbody tr:nth-child(odd) {
	background: @table-striped-background ;
}

// striped-vert tables 
.table-striped-v tr > :nth-child(odd) {
	background: @table-striped-background ;
}

