/** 
 * Module de typographie
 */

/*---------+
 | Général |
 +---------*/

// From KNACSS
html {
	/* set base font-size to equiv "10px", which is adapted to rem unit */
	font-size: 62.5%;
	
	/* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
	/* thanks to @guardian, @victorbritopro and @eQRoeil */
	font-size: ~'calc(1em * .625)';
}

body {
	font-family: @font-stack-common;
  // set body font-size in em (1.4em equiv "14px") 
	font-size: unit((@base-font-size / 10), em) ;
	line-height: @baseline-ratio ;
	color: @base-color ;
  text-rendering: optimizelegibility ; // Pour webkit et autres
}


// font-sizing pour le contenu
p, .p-like,
ul, ol, dl,
blockquote, pre,
td, th,
label,
textarea,
details, figure {
	margin-top: 0 ;
	margin-bottom: @baseline-height ;	
	line-height: @baseline-ratio ;
}

// Le texte est justifié par défaut dans tous les paragraphes
p {
  text-align: justify ; 
  hyphens: auto ;
} 

// Correction de line-height
abbr, acronym, b, cite, code, del, dfn, em, i, ins, kbd, q, samp, small, 
strong, sub, sup, tt, var {
  line-height: 1 ; 
}

abbr {
  cursor: help ; 
}

/*------------+
 | Les titres |
 +------------*/

h1, h2, h3, h4, h5, h6,
.h1-like, .h2-like, .h3-like,
.h4-like, .h5-like, .h6-like {
	margin-top:    @baseline-height ;
	margin-bottom: 0 ;
	font-family: @font-stack-headings;
  font-weight: bold ; 
  color: @headings-color ; 

  small {
    font-size: 65% ; 
    color: @headings-color-l ; 
  }
}

h1, .h1-like { .font-size(@h1-size) ; }
h2, .h2-like { .font-size(@h2-size) ; }
h3, .h3-like { .font-size(@h3-size) ; padding-left: 1em ; }
h4, .h4-like { .font-size(@h4-size) ; padding-left: 2em ; }
h5, .h5-like { .font-size(@h5-size) ; padding-left: 3em ; }
h6, .h6-like { .font-size(@h6-size) ; padding-left: 4em ; }

// Les sous-titres
.subtitle {
  h1 & {
    .font-size(@h3-size) ;
    display: block ; 
    position: relative ;
    top: -0.5em ; 
    margin-left: 1em ; 
    font-weight: normal ; 
    color: @headings-color-l ; 
  }
}


/*-------------------------------+
 | Fonctionnalitées font-feature |
 +-------------------------------*/

.smallcaps { 
  line-height: inherit ; 
  font-feature-settings: "smcp" on ;
  //font-variant-caps: small-caps ;
  //font-variant: small-caps ;
}

.noligs { 
  font-feature-settings: "liga" 0 ;
  //font-variant-ligatures: none ;
}

.fractions {
  line-height: inherit ; 
  font-feature-settings: "frac" ;
  //font-variant-numeric: diagonal-fractions ;
}
.onum {
  font-feature-settings: "onum" ;
  //font-variant-numeric: oldstyle-nums ;
}

sub {
  line-height: inherit ; 
  vertical-align: inherit ; 
  position: inherit ; 
  bottom: inherit ; 
  font-size: inherit ; 
  font-feature-settings: "sinf" ;
  //font-variant-position: sub
}
sup {
  line-height: inherit ; 
  vertical-align: inherit ; 
  position: inherit ; 
  top: inherit ; 
  font-size: inherit ; 
  font-feature-settings: "sups" ;
  //font-variant-position: super  
}


/*------------------------+
 | Font-sizing alternatif |
 *------------------------*/

.smaller      { font-size: 0.6em ; }
.small, small { font-size: 0.8em ; }
.big          { font-size: 1.2em ; }
.bigger       { font-size: 1.5em ; }
.biggest      { font-size: 2em ;   }


/*-----------------+
 | Autres éléments |
 +-----------------*/

mark {
  padding: 2px 4px ; 
  border-radius: 2px ; 
}

em, .italic, address, cite, i, var {
	font-style: italic ;
}

.bold {
  font-weight: bold ; 
}


/* 
//Désactivé car on utilise les font-features
sub, sup {
	font-size: smaller ;
}
*/


/*-----------+
 | Citations |
 +-----------*/

blockquote {
  position: relative ; 
  margin-left:  @small-value ; 
  margin-right: @small-value ; 
  padding: @baseline-height/2 1em @baseline-height/2 1.5em ; 
  border-left: 3px solid @color-mediumGray-l ; 

  @media (min-width: (@small-screen + 1)) {
    margin-left:  @baseline-height * 2 ; 
    margin-right: @baseline-height * 2 ; 
    padding: @baseline-height/2 1em @baseline-height/2 3em ; 
  }

  &::before {
    position: absolute ; 
    top: 0 ; 
    left: 0 ; 
    font-size: 2.5em ; 
    line-height: 1 ; 
	  color: @color-mediumGray ;
    content: "\201C " ;
    
    @media (min-width: (@small-screen + 1)) {
      font-size: 5em ; 
    }
  }

  & > footer {
    font-size: 90% ; 
    line-height: @baseline-ratio/0.9 ;  
    color: @color-darkGray-l ; 
    
    &.source::before {
      content: "\2015  " ; 
    }
  }
}

q, .q { quotes: "“\00a0" "\00a0”" ; }
.q:before { content: open-quote }
.q:after  { content: close-quote }

q:lang(fr), .q:lang(fr) { quotes: "«\00a0" "\00a0»" "“\00a0" "\00a0”" ; }
q:lang(en), .q:lang(en) { quotes: "“\00a0" "\00a0”" "'" "'" ; }


/*--------+
 | Divers |
 +--------*/

hr {
  border: 0 ;
  border-top: 1px solid @color-mediumGray-l ;
}

footer.footnotes {
  
  position: relative ; 
  top: -1px ; // Pour supprimer le décalage dû à la bordure 
  font-size: 90% ; 
  line-height: @baseline-ratio/0.9 ;  
  color: @color-darkGray-l ; 

  li {
    line-height: @baseline-ratio/0.9 ;  
  }

  &::before {
    display: block ; 
    width: @baseline-height * 3 ;  
    border-bottom: 1px solid @color-darkGray-l ; 
    content: "" ; 
  }
}

