/**
 * Footer-Site
 **/

.footerSite {
  .mtm ; 
  .pas ; 
  .paper-shadow ; .z1 ; 
  
  background-color: @color-lightGray ; 

  p {
    margin-bottom: @small-value ; 
    text-align: center ; 
    font-size: 0.8em ; 
  }

  .footerSite__header {
    text-align: left ; 
    font-size: 1em ; 
    font-weight: normal ;  
    color: @base-color ;
  }

  .footerSite__menu {
    list-style: none ; 
    text-align: right ; 

    li {
      display: inline ; 
    }

    a {
      color: @base-color ; 
    
      &::before {
        content: " → " ; 
        margin-left: 1em ; 
        color: black ; 
      }
    }
  }

  .licence {
    color: @color-mediumGray ; 
  }
}

