/**
 * Barre d'en-tête Théo-Net Network
 */

// Variables
@NetworkBar-height:         @baseline-height * 2 ; 
@NetworkBar__sidebar-width: @NetworkBar-height * 6 ; 
@NetworkBar-color: #D34938 ; 


// Animations
@keyframes NetworkBar-side {
  from { 
    left: -(@NetworkBar__sidebar-width + 5) ; 
  }
  50% { 
    left: (@NetworkBar-height * 3.7 - @NetworkBar__sidebar-width) ;
  }
  to { left: 0 ; }
}
@keyframes NetworkBar-logo {
  from { }
  50%  { width: @NetworkBar-height * 3.7 ; }
  to   { width: @NetworkBar__sidebar-width ; }
}
@keyframes NetworkBar__user-side {
  from { 
    right: -(@NetworkBar__sidebar-width + 5) ; 
  }
  50% { 
    right: (@NetworkBar-height * 3.7 - @NetworkBar__sidebar-width) ;
  }
  to { right: 0 ; }
}


// La barre de Théo-Net Network
.NetworkBar {
  .paper-shadow ; .z1 ; 
  
  position: fixed ; 
  top: 0 ; 
  left: 0 ; 

  z-index: 100 ; 
  transition: z-index 0s ease 0.4s ; 
        
  transition: background-color ease 0.8s ; 
 
  @media (min-width: (@medium-screen + 1)) { 
  
    width: 100% ; 
    background-color: @primary-background ; 
  }
}

// Logo
.NetworkBar__logo {

  display: inline-block ; 
  width: @NetworkBar-height * 3.7 ; 
  height: @NetworkBar-height ; 

  background-color: @NetworkBar-color ; 
  text-align: right ;  
  
  transition: ease 0.6s ;

  a {
    display: inline-block ;
    width: 100% ; 
    color: white ; 
    &:hover, &:active, &:focus {
      text-decoration: none ; 
      i.icon-expand-more { font-size: 0.9em ; }
    }
  }

  i.icon-logo-img, i.icon-logo-frat-img {
    position: absolute ; 
    top: 2px ; 
    left: 0 ; 
    font-size: @NetworkBar-height - 4 ; 
  }
  i.icon-logo-txt {
    position: absolute ; 
    top: 8px ;
    left: @NetworkBar-height ;  
    font-size: @NetworkBar-height * 0.66 ; 
  }
  i.icon-logo-frat-txt {
    position: absolute ; 
    top: 0px ;
    left: @NetworkBar-height ;  
    font-size: @NetworkBar-height ; 
  }

  strong, small {
    display: none ; 
  }

  i.icon-expand-more {
    position: relative ; 
    top: 7px ;
    display: inline-block ; 
    transition: ease 0.6s ; 
  }
  
  // Sur grand écran
  @media (min-width: (@medium-screen + 1)) { 
    width: @NetworkBar__sidebar-width ; 
    
    small {
      display: inline-block ; 
      vertical-align: top ; 
      line-height: @NetworkBar-height ; 
      color: @color-mediumGray-l ; 
    } 
  }
}

// Panneau latéral
.NetworkBar__side {
  
  position: fixed ; 
  top: @NetworkBar-height ; 
  bottom: 0 ; 
  left: -(@NetworkBar__sidebar-width + 5) ; 
  
  width: @NetworkBar__sidebar-width ; 

  background-color: @primary-background ; 
    
  overflow-y: scroll ;  
  -webkit-overflow-scrolling: touch ; // Pour IOS et autres

  transition: ease 0.6s ; 

  @media (min-width: (@medium-screen + 1)) {
    top : 0 ; 
    bottom: auto ; 
    margin-top: @NetworkBar-height ; 
    border-bottom-right-radius: 6px ;  
    max-height: 80vh ; 
    overflow: visible ;
  }
}

// Menu
.NetworkBar__menu {
  .nav ; .nav-light ; 
  border-bottom-right-radius: inherit ;  
}

// Panneau user
.NetworkBar__user {
  
  padding-top: @small-value ;  
  border-top: 1px solid @color-lightGray ; 

  text-align: center ;

  @media (min-width: (@medium-screen + 1)) {
    position: fixed ; 
    top: 7px ; 
    right: (@h1-size * 1.1) ; 
    margin : 0 ; 
    padding: 0 ;
    border: none ; 
    height: @NetworkBar-height ; 
    line-height: @NetworkBar-height ;
  }

  & > a.btn {
    @media (min-width: (@medium-screen + 1)) { 
    
      position: relative ;
      top: -10px ;
      right: -1em ;
      line-height: @base-font-size ;
    }
  }

  & > h2 {

    .txtcenter ; .pas ;
    background-color: @color-lightGray ;
    font-size: 1em ;

    @media (min-width: (@medium-screen + 1)) { 
      padding: 0 ;
      background-color: @primary-background ; 
    }

    & > a {
  
      color: @base-color ;

      &:hover, &:active, &:focus {
        text-decoration: none ; 
      }
    }

    #NetworkBar__user__button > i {

      display: none ;
      position: fixed ; 
      top: 7px ;
      right: 0 ;
      font-size: @h1-size ;
      transition: ease 0.6s ; 
  
      @media (min-width: (@medium-screen + 1)) { 
        display: inline-block ; 
      }
      
      &:hover, &:active, &:focus { font-size: 3rem ; }
    }
  }

  & > nav {
    .nav ; .nav-light ; .txtleft ;
  
    transition: ease 0.6s ; 
    
    @media (min-width: (@medium-screen + 1)) {
  
      position: fixed ; 
      top: 0px ; 
      bottom: auto ; 
      right: -(@NetworkBar__sidebar-width + 3) ;

      width: @NetworkBar__sidebar-width ; 
      margin-top: @NetworkBar-height ; 
      max-height: 80vh ; 
      
      overflow: visible ;
  
      border-top: 1px solid @color-lightGray ; 
      border-bottom-left-radius: 6px ;  
    }
  }
}

// Panneau feedback
.NetworkBar__feedback {
  margin: @small-value ;
  padding-top: @small-value ;  
  border-top: 1px solid @color-lightGray ; 

  text-align: center ;

  @media (min-width: (@medium-screen + 1)) {
    position: fixed ; 
    top: @NetworkBar-height ; 
    right: 0 ; 
    margin : 0 ; 
    padding: 0 ; 
    border: none ; 
    font-size: 1.25em ;
    transform-origin: 100% 100% ; 
    transform: rotate(-90deg) ; 
    
    a { .border-bottom-radius(0) ; }
  }
}

// Défilement de la page
.shrink {
  @media (max-width: @medium-screen) {

    .NetworkBar {

      background-color: @primary-background ; 
    }   

    .NetworkBar__logo {
      width: @NetworkBar-height ; 
      i.icon-expand-more { display: none ; }
    } 
  }
}
// On rétablit un affichage normal s'il y a la sidebar
.with--sidebarL .shrink .NetworkBar__logo i.icon-expand-more {
  display: inline-block ; 
}

// Affichage de la sidebar
.with--sidebarL {
  
  .NetworkBar {
    z-index: 200 ; 
    transition: z-index 0s ease 0s ; 
  }

  .NetworkBar__logo {
    @media (max-width: @medium-screen) {
      .paper-shadow ;  .z2 ; 
      animation: NetworkBar-logo 0.6s ease both ; 
    }
    
    i.icon-expand-more {
      transform: rotate(180deg) ; 
    }
  }
  
  .NetworkBar__side {

    .paper-shadow ; .z2 ;

    overflow: visible ;
    left: 0 ; 
    animation: NetworkBar-side 0.6s ease ; 
  }
}

.with--sidebarUser {
  
  #NetworkBar__user__button i {
    transform: rotate(180deg) ; 
  }
  
  .NetworkBar__user > nav {
    .paper-shadow ; .z2 ; 
    right: 0 ;
    animation: NetworkBar__user-side 0.6s ease ; 
  }
}

#NetworkBar__alert {

  position: fixed ; 
  top: @NetworkBar-height ; 
  width: 100% ; 
  padding: 0 ;
  z-index: 100 ; 
 
  list-style-type: none ;

  text-align: center ;

  li {
    
    .paper-shadow ; .z3 ; 
    .alert ;
    
    margin: @tiny-value auto 0 auto ;
    opacity: 0.97 ; 
    border-radius: 0 ; 
  
    @media (min-width: (@medium-screen + 1)) {
    
      width: @page-width ;
    }
  }
}


