/**
 * HeaderPage
 */

.headerPage {
  .pas ;
}

// Lorsque l'on défile la page
.shrink {
  @media (max-width: @medium-screen) {

    .headerPage {
            
      height: @baseline-height * 3 ; 

      h1 {
        position: fixed ; 
        top: 0 ; 
        right: @small-value ; 
        height: @NetworkBar-height ; 
        line-height: @NetworkBar-height ; 
        margin: 0 ; 
        margin-right: 3rem ; 
        background-color: @primary-background ; 
        font-size: 2.5rem ; 
        z-index: 115 ;

        transition: ease 0.6s ; 

        & > .subtitle { display: none ; }
      }
    }
  }
}

// Quand la sidebar de droite est affiché, on masque le titre, 
// si la page a été défilée. 
.with--sidebarR .shrink .headerPage h1 { 
  @media (max-width: @medium-screen) {
    opacity: 0 ; 
  }
}


