/**
 * En-tête du site
 */


.headerSite {
  
  .paper-shadow ; .z1 ;

  position: fixed ; 
  top: 0 ; 
  right: 0 ; 
  width: 100% ;
  height: @NetworkBar-height ; 
  padding-bottom: @tiny-value ; 

  z-index: 90 ;

  & > .headerSite__fond {
   
    display: none ; 
    
    height: (@baseline-height * 8) ;
    
    background-size: cover ;
    background-repeat: no-repeat ;
    background-position: center ;
  }

  h1 {
    height: @NetworkBar-height ; 
    margin-right: @small-value ;
    text-align: right ; 
    font-size: 2.5rem ; 
    line-height: @NetworkBar-height ; 
  
    transition: ease 0.6s ;
    
    a { 
      color: black ; 
      .headerSite__onlyBig { display: none ; }
    }
    a:hover { text-decoration: none ; }
    a.noLogo > img {
      display: none ;
    }

    @media (min-width: (@medium-screen + 1)) {
    
      position: relative ; // Pour le positionnement du logo
      height: auto ; 
      margin: 0 ; 
      text-align: left ; 
      line-height: 1 ; 

      float: left ; 
      font-size: 3.6rem ; 

      a { 
        position: absolute ; 
        top: 0 ; 
        left: 30rem ; 
        color: @color-mediumGray-l ; 
        text-shadow: 0 0 1px black ;         

        .headerSite__onlyBig { display: inline ; }
      }

      a.noLogo > img {
        
        display: block ;
        position: relative ; 
        left: -30rem ;
        top: -13rem ;
        max-width: @page-width / 2 ;
      }

      a::before {
        position: relative ; 
        left: -30rem ; 
        padding-left: @tiny-value ;  
        .icon ;  
        font-size: 10rem ; 
        color: white ; 
      }
      a:not(.noLogo)::before {
        .icon-char(logo) ;
      }
      a.noLogo::before {
        .icon-char(empty) ;
      }
    }
  }

  // Sur grand écran
  @media (min-width: (@medium-screen + 1)) {
    
    .paper-shadow ; .z1 ; 
    
    position: static ; 
    height: (@baseline-height * 8) ;
    padding-top: @tiny-value ; 
    padding-bottom: @tiny-value / 2 ; 
 
  
    &.headerSite-withImg {

      background-color: transparent !important ;
    }

    &.headerSite-big {
      height: 423px ;
    }

    & > .headerSite__title, aside {

      width: @page-width ; 
      margin: auto ; 
    }

    &.headerSite-big > .headerSite__fond {

      height: 423px ;
    } 

    & > .headerSite__fond {
      
      display: block ;  
      position: absolute ;
      top: @NetworkBar-height ;
      left: 0 ;
      width: 100% ;
      z-index: -100 ;
    }
  }
}


.shrink {
  @media (max-width: @medium-screen) {
    
    .headerSite > a:first-child {
      display: none ;
    }

    .headerSite__title {

      background-color: @primary-background ; 
    }
  }
}

// Bouton (ne s'affiche que pour les petits écrans)
.headerSite__button {
  .icon ; .icon-menu ;
  
  float: right ; 
  display: inline-block ; 
  width: 3rem ; 
  
  transition: ease 0.6s ;
  
  &:hover { font-size: 0.9em ; }

  @media (min-width: (@medium-screen + 1)) {
    display: none ; 
  }
}

// Panneau latéral
.headerSite__side {

  position: fixed ; 
  top: 0 ; 
  bottom: 0 ; 
  right: 0 ; 
  width: @headerSite__sidebar-width ; 
  
  background-color: @primary-background ; 

  transform: translateX(@headerSite__sidebar-width) ; 
    
  overflow-y: scroll ;  
  -webkit-overflow-scrolling: touch ; // Pour IOS et autres

  & > aside {
    .pas ; 
    border-bottom: 1px solid @color-lightGray ; 
  }

  // Grand écran
  @media (min-width: (@medium-screen + 1)) {
    
    display: flex ; 
    flex-direction: column ; 
    justify-content: flex-end ; 

    position: static ; 
    width:  100% ; 
    height: 100% ; 
    background-color: transparent ; 
  
    transform: translateX(0) ; 
    overflow: visible ; 

    & > aside {
      align-self: flex-end ; 
      margin: auto @tiny-value ; 
      max-width: 50% ; 
      background-color: fade(@primary-background, 50%) ; 
      border: none ; 
      border-radius: 8px ; 
    }
  }
}

// Menu
.headerSite__menu {
  .nav-h ; .nav-light ; 

  @media (min-width: (@medium-screen + 1)) {
    padding-left:  @medium-value ; 
    padding-right: @medium-value ; 
  }
}

// On masque le bouton lorsque la sidebar est active
.with--sidebarR {
  .headerSite h1 {
    transform: translateX(3rem) ; 
  }
  .headerSite__button {
    transform: translateX(@NetworkBar-height) ; 
  }
}

// Wide
.wide .headerSite__title, .wide.headerSite aside {

  width: 98% ;
}

