/**
 * Organisation du site
 */

// Général
html, body, .site-container, .site-pusher {
  height: 100% ;
  @media (min-width: (@medium-screen + 1)) {
    height: auto ;
  }
}

body {
  background-color: @primary-background ;
  background: @base-background url(../img/noise.png) ;
}

// Contient tout le site
.site-container {
  overflow: hidden ;
  @media (min-width: (@medium-screen + 1)) {
    margin-top: @baseline-height * 2 ;
    overflow: visible ;
  }
}

// Contient la partie qui se décale
.site-pusher {
  transform: translateX(0px) ;
  transition: ease 0.6s ;
  @media (min-width: (@medium-screen + 1)) {
    transform: none ;
  }
}

// Contenu du site
.site-content {

  position: absolute ;
  top: @baseline-height * 2 ;
  left: 0 ;
  right: 0 ;
  bottom: 0 ;

  //min-height: 100vh ; semble empêcher l'affichage du bas

  overflow-y: scroll ;
  -webkit-overflow-scrolling: touch ;


  @media (min-width: (@medium-screen + 1)) {
    .paper-shadow ; .z1 ;

    position: static ;
    width: @page-width ;
    margin: auto ;
    overflow: visible ;
    background-color: @primary-background ;

    &.wide { width: 98% ; }
  }

  // Contenu de la page (titre + menu + contenu)
  .page-content {

    background-color: @primary-background ;
    margin: 0 @tiny-value ;

    // contenu + menu
    & > section {
      
      display: flex ;
      flex-direction: column ;
      
      @media (min-width: (@medium-screen + 1)) {
        flex-direction: row ;

        // Menu
        & > aside {
          width: 18em ;
          margin-right: @tiny-value ;
          .nav {
            .paper-shadow ; .z1 ;
            .border-right-radius(4px) ;
          }
        }
      }

      // Contenu
      & > section {
        width: 100% ;
        .pas ;
      }
    }
  }
}


// Le cache qui s'affiche avec les sidebar
.site-cache {
  visibility: hidden ;
  position: absolute ;
  top: 0 ;
  bottom: 0 ;
  left: 0 ;
  right: 0 ;
  transition-duration: 0.3s ;

  z-index: 120 ;
}

// Sidebar
.with--sidebarL, .with--sidebarR {
  .site-cache {
    visibility: visible ;
    background-color: rgba(0, 0, 0, 0.6) ;

    @media (min-width: (@medium-screen + 1)) {
      width: 100% ;
      height: 100% ;
      bottom: auto ;
      background-color: transparent ;
    }
  }
}

// Site pusher avec la sidebar de droite
.with--sidebarR {
  .site-pusher{
    transform: translateX(-@headerSite__sidebar-width) ;

    @media (min-width: (@medium-screen + 1)) {
      transform: none ;
    }
  }
}


