/**
 * Fichier de configuration
 */

//-------------+
// Typographie |
//-------------*/

// Tailles
@base-font-size: 16px ; 
@baseline-ratio: 1.5 ; 
@h1-size       : 3.6rem ; // equiv "36px"
@h2-size       : 2.8rem ; // equiv "28px"
@h3-size       : 2.4rem ; // equiv "24px"
@h4-size       : 2.1rem ; // equiv "21px"
@h5-size       : 1.8rem ; // equiv "18px"
@h6-size       : 1.6rem ; // equiv "16px"

// Familles de polices
  // Police de base
@font-stack-common:   "Linux Libertine", Georgia,Palatino,"Century Schoolbook L","Times New Roman",Times,serif ; 
  // Police des titres
@font-stack-headings: "Linux Biolinum", Helvetica, Arial, sans-serif ; 
  // Police monospace (codes sources, ...)
@font-stack-monospace:"Ubuntu Mono", Consolas, "DejaVu Sans Mono", Courier, monospace ; 
  // Police des labels, badges et des bouttons
@labels-badges-buttons-font-family: @font-stack-headings ; 



//----------+
// Couleurs |
//----------*/

// Palette de couleurs
@color-blueJeans-l: #5D9CEC ;
@color-blueJeans:   #4A89DC ; 
@color-aqua-l: #4FC1E9 ;
@color-aqua:   #3BAFDA ; 
@color-mint-l: #48CFAD ;
@color-mint:   #37BC9B ; 
@color-grass-l: #A0D468 ; 
@color-grass:   #8CC152 ; 
@color-sunflower-l: #FFCE54 ; 
@color-sunflower:   #F6BB42 ; 
@color-bittersweet-l: #FC6E51 ; 
@color-bittersweet:   #E9573F ; 
@color-grapefruit-l: #ED5565 ; 
@color-grapefruit:   #DA4453 ;
@color-lavender-l: #AC92EC ; 
@color-lavender:   #967ADC ; 
@color-pinkRose-l: #EC87C0 ; 
@color-pinkRose:   #D770AD ; 
@color-lightGray-l: #F5F7FA ; 
@color-lightGray:   #E6E9ED ; 
@color-mediumGray-l: #CCD1D9 ; 
@color-mediumGray:   #AAB2BD ; 
@color-darkGray-l: #656D78 ; 
@color-darkGray:   #434A54 ; 

// font colors
@base-color      : @color-darkGray ; // Couleur des textes dans body et contenu
@headings-color  : black ; // Couleur des titres
@headings-color-l: @color-darkGray-l ; // Couleur des titres
@base-color-link : @color-aqua ; // Couleur des liens

// backgrounds
@base-background   : lighten(@color-sunflower-l, 10%) ; // Couleurs de fond du body
@primary-background: #FEFEFE ; // primary elements background color

// Tableaux
@table-border-color:       @color-mediumGray ; 
@table-striped-background: @color-lightGray ; 

// Formulaire
@fieldset-border-color: @color-darkGray-l ;
@fieldset-legend-background: @color-darkGray-l ; 
@fieldset-legend-color: white ; 
@forms-elements-border-color: @color-mediumGray ; 
@forms-elements-disabled-color: @color-lightGray ;
@forms-elements-disabled-color-d: @color-mediumGray ;
@forms-elements-focus-color: @color-blueJeans-l ; 
@forms-elements-success-color: @color-grass-l ; 
@forms-elements-error-color: @color-bittersweet-l ; 
@forms-elements-warning-color: @color-sunflower-l ; 
@forms-elements-placeholder-color: #999 ;

// Pour les badges, labels, boutons, ...
  // Default
  @element-default-background: @color-mediumGray ;
  @element-default-background-hover: @color-mediumGray-l ;
  @element-default-border: @color-mediumGray ;
  @element-default-color: white ;
  @element-default-color-hover: white ; 
  @element-default-background-l: @color-lightGray ; 
  // Success
  @element-success-background: @color-grass ;
  @element-success-background-hover: @color-grass-l ;
  @element-success-border: @color-grass ;
  @element-success-color: white ;
  @element-success-color-hover: white ; 
  @element-success-background-l: #B9DF90 ; 
  // Primary
  @element-primary-background: @color-aqua ;
  @element-primary-background-hover: @color-aqua-l ;
  @element-primary-border: @color-aqua ;
  @element-primary-color: white ;
  @element-primary-color-hover: white ; 
  @element-primary-background-l: #7CD1EF ; 
  // Info
  @element-info-background: @color-mint ;
  @element-info-background-hover: @color-mint-l ;
  @element-info-border: @color-mint ;
  @element-info-color: white ;
  @element-info-color-hover: white ; 
  @element-info-background-l: #40EFC3 ; 
  // Warning
  @element-warning-background: @color-sunflower ;
  @element-warning-background-hover: @color-sunflower-l ;
  @element-warning-border: @color-sunflower ;
  @element-warning-color: white ;
  @element-warning-color-hover: white ; 
  @element-warning-background-l: #FFDD87 ; 
  // Danger
  @element-danger-background: @color-bittersweet ;
  @element-danger-background-hover: @color-bittersweet-l ;
  @element-danger-border: @color-bittersweet ;
  @element-danger-color: white ;
  @element-danger-color-hover: white ; 
  @element-danger-background-l: #F2838F ; 


//--------------------+
// Pour le responsive |
//--------------------*/

@tiny-screen       : 480px ;  // tiny screens media query (less than 480px)
@small-screen      : 768px ;  // screens between 481px and 768px
@medium-screen     : 1024px ; // screens between 769px and 1024px
@large-screen      : 1280px ; // screens between 1025px and 1280px
@extra-large-screen: 1600px ; // screens between 1281px and 1600px
@ultra-large-screen: 1920px ; // ultra large screens


//--------+
// Autres |
//--------*/

@ul-list-style: symbols(cyclic "\2012") ; // Style par défaut des listes non ordonnées
@grid-gutter: 1em ; // Taille par défaut de la goutière des grilles

