/**
 * Les font-face
 */


/*-----------------+ 
 | Linux Libertine |
 +-----------------*/

// font-feature par défaut : liga on, 

// Regular
@font-face {
  font-family: 'Linux Libertine' ;
  src: url('../fonts/linLibertine/linlibertine_r.eot') ;
  src: url('../fonts/linLibertine/linlibertine_r.eot?') format('embedded-opentype'),
       url('../fonts/linLibertine/linlibertine_r.woff2') format('woff2'),
       url('../fonts/linLibertine/linlibertine_r.woff') format('woff'),
       url('../fonts/linLibertine/linlibertine_r.ttf') format('truetype'),
       url('../fonts/linLibertine/linlibertine_r.svg#linux_libertine_oregular') format('svg') ;
  font-weight: normal ;
  font-style:  normal ;
  font-feature-settings: "ss02" on ;
}
// Italic
@font-face {
  font-family: 'Linux Libertine' ;
  src: url('../fonts/linLibertine/linlibertine_ri.eot') ;
  src: url('../fonts/linLibertine/linlibertine_ri.eot?') format('embedded-opentype'),
       url('../fonts/linLibertine/linlibertine_ri.woff2') format('woff2'),
       url('../fonts/linLibertine/linlibertine_ri.woff') format('woff'),
       url('../fonts/linLibertine/linlibertine_ri.ttf') format('truetype'),
       url('../fonts/linLibertine/linlibertine_ri.svg#linux_libertine_oitalic') format('svg') ;
  font-weight: normal ;
  font-style:  italic ;
  font-feature-settings: "ss02" on ;
}
// Bold
@font-face {
  font-family: 'Linux Libertine' ;
  src: url('../fonts/linLibertine/linlibertine_rb.eot') ;
  src: url('../fonts/linLibertine/linlibertine_rb.eot?') format('embedded-opentype'),
       url('../fonts/linLibertine/linlibertine_rb.woff2') format('woff2'),
       url('../fonts/linLibertine/linlibertine_rb.woff') format('woff'),
       url('../fonts/linLibertine/linlibertine_rb.ttf') format('truetype'),
       url('../fonts/linLibertine/linlibertine_rb.svg#linux_libertine_obold') format('svg') ;
  font-weight: bold ;
  font-style:  normal ;
  font-feature-settings: "ss02" on ;
}
// Bold italic
@font-face {
  font-family: 'Linux Libertine' ;
  src: url('../fonts/linLibertine/linlibertine_rbi.eot') ;
  src: url('../fonts/linLibertine/linlibertine_rbi.eot?') format('embedded-opentype'),
       url('../fonts/linLibertine/linlibertine_rbi.woff2') format('woff2'),
       url('../fonts/linLibertine/linlibertine_rbi.woff') format('woff'),
       url('../fonts/linLibertine/linlibertine_rbi.ttf') format('truetype'),
       url('../fonts/linLibertine/linlibertine_rbi.svg#linux_libertine_obold_italic') format('svg') ;
  font-weight: bold ;
  font-style:  italic ;
  font-feature-settings: "ss02" on ;
}


/*----------------+
 | Linux Biolinum |
 +----------------*/

// Regular
@font-face {
  font-family: 'Linux Biolinum' ;
  src: url('../fonts/linLibertine/linbiolinum_r.eot') ;
  src: url('../fonts/linLibertine/linbiolinum_r.eot?') format('embedded-opentype'),
       url('../fonts/linLibertine/linbiolinum_r.woff2') format('woff2'),
       url('../fonts/linLibertine/linbiolinum_r.woff') format('woff'),
       url('../fonts/linLibertine/linbiolinum_r.ttf') format('truetype'),
       url('../fonts/linLibertine/linbiolinum_r.svg#linux_biolinum_oregular') format('svg') ;
  font-weight: normal ;
  font-style:  normal ;
}
// Bold
@font-face {
  font-family: 'Linux Biolinum' ;
  src: url('../fonts/linLibertine/linbiolinum_rb.eot') ;
  src: url('../fonts/linLibertine/linbiolinum_rb.eot?') format('embedded-opentype'),
       url('../fonts/linLibertine/linbiolinum_rb.woff2') format('woff2'),
       url('../fonts/linLibertine/linbiolinum_rb.woff') format('woff'),
       url('../fonts/linLibertine/linbiolinum_rb.ttf') format('truetype'),
       url('../fonts/linLibertine/linbiolinum_rb.svg#linux_biolinum_obold') format('svg') ;
  font-weight: bold ;
  font-style:  normal ;
}
// Italic
@font-face {
  font-family: 'Linux Biolinum' ;
  src: url('../fonts/linLibertine/linbiolinum_ri.eot') ;
  src: url('../fonts/linLibertine/linbiolinum_ri.eot?#iefix') format('embedded-opentype'),
       url('../fonts/linLibertine/linbiolinum_ri.woff2') format('woff2'),
       url('../fonts/linLibertine/linbiolinum_ri.woff') format('woff'),
       url('../fonts/linLibertine/linbiolinum_ri.ttf') format('truetype'),
       url('../fonts/linLibertine/linbiolinum_ri.svg#linux_biolinum_oitalic') format('svg') ;
  font-weight: normal ;
  font-style:  italic ;
}


/*---------+
 | Lobster |
 +---------*/

@font-face {
  font-family: Lobster ; 
  src: url('../fonts/lobster/lobster_1.4-webfont.eot') ;
  src: url('../fonts/lobster/lobster_1.4-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lobster/lobster_1.4-webfont.woff2') format('woff2'),
       url('../fonts/lobster/lobster_1.4-webfont.woff') format('woff'),
       url('../fonts/lobster/lobster_1.4-webfont.ttf') format('truetype'),
       url('../fonts/lobster/lobster_1.4-webfont.svg#lobster_1.4regular') format('svg') ;
  font-weight: normal;
  font-style: normal;
}


/*-------------+
 | Ubuntu Mono |
 +-------------*/

// Regular
@font-face {
  font-family: 'Ubuntu Mono' ;
  src: url('../fonts/ubuntuMono/ubuntumono-r.eot') ;
  src: url('../fonts/ubuntuMono/ubuntumono-r.eot?') format('embedded-opentype'),
       url('../fonts/ubuntuMono/ubuntumono-r.woff2') format('woff2'),
       url('../fonts/ubuntuMono/ubuntumono-r.woff') format('woff'),
       url('../fonts/ubuntuMono/ubuntumono-r.ttf') format('truetype'),
       url('../fonts/ubuntuMono/ubuntumono-r.svg#ubuntu_monoregular') format('svg') ;
  font-weight: normal ;
  font-style:  normal ;
}
// Bold
@font-face {
  font-family: 'Ubuntu Mono' ;
  src: url('../fonts/ubuntuMono/ubuntumono-b.eot') ;
  src: url('../fonts/ubuntuMono/ubuntumono-b.eot?') format('embedded-opentype'),
       url('../fonts/ubuntuMono/ubuntumono-b.woff2') format('woff2'),
       url('../fonts/ubuntuMono/ubuntumono-b.woff') format('woff'),
       url('../fonts/ubuntuMono/ubuntumono-b.ttf') format('truetype'),
       url('../fonts/ubuntuMono/ubuntumono-b.svg#ubuntu_monobold') format('svg') ;
  font-weight: bold ;
  font-style:  normal ;

}
// Italic
@font-face {
  font-family: 'Ubuntu Mono' ;
  src: url('../fonts/ubuntuMono/ubuntumono-ri.eot') ;
  src: url('../fonts/ubuntuMono/ubuntumono-ri.eot?') format('embedded-opentype'),
       url('../fonts/ubuntuMono/ubuntumono-ri.woff2') format('woff2'),
       url('../fonts/ubuntuMono/ubuntumono-ri.woff') format('woff'),
       url('../fonts/ubuntuMono/ubuntumono-ri.ttf') format('truetype'),
       url('../fonts/ubuntuMono/ubuntumono-ri.svg#ubuntu_monoitalic') format('svg') ;
  font-weight: normal ;
  font-style:  italic ;
}
// Bold-italic
@font-face {
  font-family: 'Ubuntu Mono' ;
  src: url('../fonts/ubuntuMono/ubuntumono-bi.eot') ;
  src: url('../fonts/ubuntuMono/ubuntumono-bi.eot?') format('embedded-opentype'),
       url('../fonts/ubuntuMono/ubuntumono-bi.woff2') format('woff2'),
       url('../fonts/ubuntuMono/ubuntumono-bi.woff') format('woff'),
       url('../fonts/ubuntuMono/ubuntumono-bi.ttf') format('truetype'),
       url('../fonts/ubuntuMono/ubuntumono-bi.svg#ubuntu_monobold_italic') format('svg') ;
  font-weight: bold ;
  font-style:  italic ;
}



