/**
 * Fichier principal de KephaLess
 */


//-------------------------------------------+
// Variables calculées à partir de la config |
//-------------------------------------------*/

// Pour le rythme vertical
@baseline-height: @base-font-size * @baseline-ratio ; 

// Tailles des différents éléments
@headerSite__sidebar-width: @baseline-height * 10 ; 

@page-width: @baseline-height * 41 ; 

// Valeurs prédéfinies
@tiny-value :  @baseline-height / 4 ;
@small-value:  @baseline-height / 2 ;
@medium-value: @baseline-height ; 
@large-value:  @baseline-height * 2 ; 

//--------------------------+
// Importations des modules |
//--------------------------*/

@import "mixins" ;

// Base
@import (inline) "../../node_modules/normalize-css/normalize.css" ; 
@import "base/resetCss" ;
@import "base/typo" ; 
@import "base/layout" ; 
@import "base/grids" ; 
@import "base/tables" ; 
@import "base/forms" ; 
@import "base/helpers" ; 
@import "base/responsive" ; 
@import "base/print" ;

// Modules
@import "modules/icons" ;
@import "modules/info" ; 
@import "modules/paper-shadow" ; 
@import "modules/labels-badges" ; 
@import "modules/buttons" ;
@import "modules/alerts" ; 
@import "modules/panels" ; 
@import "modules/pagination" ; 
@import "modules/forms" ; 
@import "modules/date" ;
@import "modules/pricing" ;
@import "modules/menu" ;
@import "modules/breadcrumb" ;
@import "modules/calendar" ;
@import "modules/wave" ;

