/**
 * Mixins
 */

// Size en rem
.font-size (@size, @addline: 0) {
  font-size:   @size ; 
  line-height: (ceil(unit(@size) * 10 / @baseline-height) + @addline) * @baseline-height / (unit(@size) * 10) ; 
}


// Raccourcis pour définir des tailles
.size (@width, @height) {
  width:  @width ;
  height: @height ;
}
.square (@size) {
  .size(@size, @size) ;
}

// Border radius
.border-top-radius (@radius) {
  border-top-right-radius: @radius ;
  border-top-left-radius:  @radius ;
}
.border-right-radius (@radius) {
  border-bottom-right-radius: @radius ;
  border-top-right-radius:    @radius ;
}
.border-bottom-radius (@radius) {
  border-bottom-right-radius: @radius ;
  border-bottom-left-radius:  @radius ;
}
.border-left-radius (@radius) {
  border-bottom-left-radius: @radius ;
  border-top-left-radius:    @radius ;
}

// Background and border color
.background-border-color (@background, @border) {
  background-color: @background ; 
  border: 1px solid @border ; 
}

