/**
 * Classes générées par l'utilisateur
 */

// Générer ici vos classes personnalisées à partir des mixins

// On commence par une série de classes pour le fond des éléments
.bckgrnd-blueJeans-l { background-color: @color-blueJeans-l; }
.bckgrnd-blueJeans   { background-color: @color-blueJeans ;   }
.bckgrnd-aqua-l { background-color: @color-aqua-l ; }
.bckgrnd-aqua   { background-color: @color-aqua ;   } 
.bckgrnd-mint-l { background-color: @color-mint-l ; }
.bckgrnd-mint   { background-color: @color-mint ;   }
.bckgrnd-grass-l { background-color: @color-grass-l ; }
.bckgrnd-grass   { background-color: @color-grass ;   }
.bckgrnd-sunflower-l { background-color: @color-sunflower-l ; }
.bckgrnd-sunflower   { background-color: @color-sunflower ;   }
.bckgrnd-bittersweet-l { background-color: @color-bittersweet-l ; }
.bckgrnd-bittersweet   { background-color: @color-bittersweet ;   }
.bckgrnd-grapefruit-l { background-color: @color-grapefruit-l ; }
.bckgrnd-grapefruit   { background-color: @color-grapefruit ;   }
.bckgrnd-lavender-l { background-color: @color-lavender-l ; }
.bckgrnd-lavender   { background-color: @color-lavender ;   }
.bckgrnd-pinkRose-l { background-color: @color-pinkRose-l ; } 
.bckgrnd-pinkRose   { background-color: @color-pinkRose ;   }
.bckgrnd-lightGray-l { background-color: @color-lightGray-l ; }
.bckgrnd-lightGray   { background-color: @color-lightGray ;   }
.bckgrnd-mediumGray-l { background-color: @color-mediumGray-l ; }
.bckgrnd-mediumGray   { background-color: @color-mediumGray ;   }
.bckgrnd-darkGray-l { background-color: @color-darkGray-l ; }
.bckgrnd-darkGray   { background-color: @color-darkGray ;   }

// Grilles
.grid-2 {
  .grid(2) ;    // |-----|-----| 
}
.grid-4 {
  .grid(4) ;    // |--|--|--|--|
}

.grid-3-1 {           // |-- -- --|--|
  .uneven-grid(3,1) ;
}   
.grid-1-3 {           // |--|-- -- --|
  .uneven-grid(1,3) ;
}
.grid-2-1 {           // |-- --|--|
  .uneven-grid(2,1) ; 
}
.grid-1-2 {           // |--|-- --|
  .uneven-grid(1,2) ;
}



