/**
 * Alertes
 */


.alert {
  padding: @baseline-height / 2 ; 
  //margin-bottom: @baseline-height ; 

  .background-border-color(@element-default-background-l,
                           @element-default-border) ; 
  border-radius: 4px ; 
    
  color: darken(@element-default-border, 25%) ; 
  
  &.alert-icon {
    position: relative ; 
    padding-left: 3em ;  

    &:before {
      .icon ; 
      .icon-char('info') ; 
      
      position: absolute ; 
      left: 0 ;
      top: -0.25em ; 
      font-size: 3em ; 
    }
  }


  h4 {
    padding: 0 ; 
    color: inherit ; 
  }

  .alert-link {
    color: inherit ;
    opacity: 0.8 ;  
    font-weight: bold ; 
    text-decoration: underline ; 
    cursor: pointer ; 
    &:hover {
      opacity: 0.45 ; 
    }
  }
  
  .btn-link {
    color: black ; 
    opacity: 0.65 ; 
    &:hover {
      text-decoration: none ; 
      opacity: 0.4 ; 
    }
  }


  // Primary
  &.alert-primary {
    .background-border-color(@element-primary-background-l,
                             @element-primary-border) ; 
    color: darken(@element-primary-border, 25%) ; 
  }
  
  // Success
  &.alert-success {
    .background-border-color(@element-success-background-l,
                             @element-success-border) ; 
    color: darken(@element-success-border, 25%) ; 
    &.alert-icon:before { .icon-char('check') ; }
  }

  // Info
  &.alert-info {
    .background-border-color(@element-info-background-l,
                             @element-info-border) ; 
    color: darken(@element-info-border, 25%) ; 
  }

  // Warning
  &.alert-warning {
    .background-border-color(@element-warning-background-l,
                             @element-warning-border) ; 
    color: darken(@element-warning-border, 25%) ; 
    &.alert-icon:before { .icon-char('warning') ; }
  }

  // Danger
  &.alert-danger {
    .background-border-color(@element-danger-background-l,
                             @element-danger-border) ; 
    color: darken(@element-danger-border, 25%) ; 
    &.alert-icon:before { .icon-char('error') ; }
  }
}

.alert-dismissable {

  .close {
    .icon ; .icon-close ;
    float: right ; 
    padding-left: @baseline-height / 2 ; 
    cursor: pointer ; 
  }
}

