/**
 * Breadcrumb
 */


.breadcrumb, .breadcrumb-arrow {
  margin-bottom: @baseline-height ; 
  
  list-style: none ; 
  
  background-color: @color-lightGray ; 
  border-radius: 4px ; 

  & > li {
    display: inline-block ; 
  }
}

.breadcrumb {
  padding: @tiny-value @small-value ; 
  & > li + li::before {
    padding: 0 @tiny-value ; 
    color: #CCC ; 
    content: "/ " ; 
  }
}

.breadcrumb-arrow {
  height: @baseline-height * 1.5 ; 
  padding: 0 ; 
  line-height: @baseline-height * 1.5 ; 

  li a {
    position: relative ; 
    //top: 4px ; 
    padding: @tiny-value @small-value ; 
    background-color: @color-aqua ; 
    color: white ; 
  }

  li + li a {
    margin-left: -@tiny-value ; 
    padding-left: @medium-value ; 
  }

  li a::before, li a::after {
    position: absolute ; 
    top: -1px ; 
    width: 0 ; 
    height: 0 ; 
    content: "" ; 
    border-top:    @baseline-height*0.75 solid transparent ; 
    border-bottom: @baseline-height*0.75 solid transparent ; 
  }

  li a::before {
    right: -(@baseline-height/2 - 1) ; 
    z-index: 3 ; 
    border-left: @baseline-height/2 solid @color-aqua ; 
  }
  li a::after {
    right: -(@baseline-height/2) ; 
    z-index: 2 ; 
    border-left: @baseline-height/2 solid #2494BE ; 
  }

  li.active {
    padding-left: @tiny-value*2 ; 
  }
}


