/**
 * Les boutons
 */

.btn {
  display: inline-block ; 
  text-decoration: none ; 
  &:hover {
    text-decoration: none ; 
  }
}

button, .btn {
  padding: (@tiny-value - 1) @small-value ; // On enlève la bordure
  vertical-align: middle ; 
  
  .background-border-color (@element-default-background, 
                            @element-default-border) ;
  border-radius: 4px ; 
  
  font-family: @labels-badges-buttons-font-family ; 
  text-align: center ;
  color: @element-default-color ;
  
  cursor: pointer ; 

  &:active, &:focus, &:hover {
    background-color: @element-default-background-hover ; 
    color: @element-default-color-hover ; 
  }

  // Une icone ne change pas la taille du bouton
  .icon {
    line-height: 1 ; 
    top: 0.2em ; 
  }

  // Block
  &.btn-block {
    display: block ; 
    width: 100% ; 
  }
  
  // Primary
  &.btn-primary {
    .background-border-color (@element-primary-background, 
                              @element-primary-border) ;
    color: @element-primary-color ;

    &:active, &:focus, &:hover {
      background-color: @element-primary-background-hover ; 
      color: @element-primary-color-hover ; 
    }
  }
 
  // Success
  &.btn-success {
    .background-border-color (@element-success-background, 
                              @element-success-border) ;
    color: @element-success-color ;

    &:active, &:focus, &:hover {
      background-color: @element-success-background-hover ; 
      color: @element-success-color-hover ; 
    }
  }
  
  // Info
  &.btn-info {
    .background-border-color (@element-info-background, 
                              @element-info-border) ;
    color: @element-info-color ;

    &:active, &:focus, &:hover {
      background-color: @element-info-background-hover ; 
      color: @element-info-color-hover ; 
    }
  }

  // Warning
  &.btn-warning {
    .background-border-color (@element-warning-background, 
                              @element-warning-border) ;
    color: @element-primary-color ;

    &:active, &:focus, &:hover {
      background-color: @element-warning-background-hover ; 
      color: @element-warning-color-hover ; 
    }
  }

  // Danger
  &.btn-danger {
    .background-border-color (@element-danger-background, 
                              @element-danger-border) ;
    color: @element-danger-color ;

    &:active, &:focus, &:hover {
      background-color: @element-danger-background-hover ; 
      color: @element-danger-color-hover ; 
    }
  }

  // Link
  &.btn-link {
    .a-like ; 
    border-color:     transparent ; 
    background-color: transparent ; 
  }
}

// Groupe horizontal
.btn-group {
  
  display: inline-block ; 
  vertical-align: middle ; 
  
  & > .btn, & > button {
    float: left ; 
    
    &:not(:first-child) {
      border-left-color: rgba(0, 0, 0, 0.1) ;
      &:hover {
       border-left-color: transparent ; 
     } 
    }
    &:hover + * {
      border-left-color: transparent ; 
    }

    &:first-child:not(:last-child) {
      .border-right-radius(0px) ; 
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0px ; 
    }
    &:last-child:not(first-child) {
      .border-left-radius(0px) ; 
    }
  }
}

// Groupe vertical
.btn-group-v {
  
  display: inline-block ; 
  vertical-align: middle ; 
  
  & > .btn, & > button {
    display: block ;
    width: 100% ; 
    max-width: 100% ;  
  
    &:not(:first-child) {
      border-top-color: rgba(0, 0, 0, 0.1) ;
      &:hover {
       border-top-color: transparent ; 
     } 
    }
    &:hover + * {
      border-top-color: transparent ; 
    }

    &:first-child:not(:last-child) {
      .border-bottom-radius(0px) ; 
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0px ; 
    }
    &:last-child:not(first-child) {
      .border-top-radius(0px) ; 
    }
  }
}

