/**
 * Calendrier
 */

.calendar {
  display: flex ; 
  flex-direction: column ; 

  padding: @small-value ; 
  background-color: lighten(@color-bittersweet, 13%) ; 
  border-radius: 4px ; 
  
  color: white ; 

  ul.month {
    display: flex ; 
    flex-direction: row ; 
    justify-content: space-between ; 

    list-style: none ; 
    padding: 0 ; 
    margin: 0 ; 

    font-family: @font-stack-headings ; 
    font-weight: bold ; 
    line-height: @baseline-height * 1.5 ; 

    a {
      display: inline-block ; 
      min-width: @baseline-height * 1.5 ; 
      border: 1px solid white ; 
      border-radius: 50% ; 
      font-size: 2em ; 
      color: white ; 
      &:hover {
        border-color: @color-bittersweet ; 
      }
    }
  }

  ul.week {
    .gridClass ; .grid(7) ; 
    list-style: none ; 
    padding: @small-value 0 ; 
    margin: 0 ; 

    span { display: none ; }
  }

  ul.days {
    .gridClass ; .grid(7) ; 
    list-style: none ; 

    padding: 0 ; 
    margin: 0 ; 
    border-top: 1px solid lighten(@color-bittersweet, 10%) ; 
    
    li {
      margin-bottom: 3px ; 
      border-radius: 50% ; 
      height: 36px ; 
      width: 36px ; 
      line-height: 34px ; 
      text-align: center ; 
      
      &:hover , &.active , &:active  {
        display: inline-block ; 
        background-color: #FFF ; 
        cursor: pointer ; 
        color: @color-bittersweet ; 
        transition: all 0.2s ease-in-out 0s ; 
      }
      
      &.older  {
        cursor: default ; 
        background-color: transparent ; 
        color: @color-bittersweet ; 
      }
    }
  }
}

