/**
 * Blocs de date
 */

.date-block {
  position: relative ; 
  display: block ; 
  
  width:  @baseline-height * 3 ;  
  height: @baseline-height * 3 ;
  background-color: @element-default-background ; 

  color: @element-default-color ; 
  text-shadow: 0 0 2px black ; 
  text-align: center ; 

  padding-top : @baseline-height * (3-1.3) ; 

  .day {
    position: absolute ; 
    top : -@baseline-height / 3 ; 
    left: 1px ; 
    font-size: @baseline-height * 2.1 ; 
    line-height: 1 ; 
  }
  .month {
    font-size: @baseline-height * 1.1 ; 
    line-height: 1 ; 
    text-transform: uppercase ; 
    span {
      display: none ; 
    }
  }
  .year {
    position: absolute ; 
    top: @baseline-height / 2 ; 
    right: -6px ;
    font-size: @baseline-height * 0.9 ; 
    line-height: 1 ; 
    transform: rotate(-90deg) ; 
  }
}
