/**
 * Module formulaire
 */


// checkbox and radio
input[type="checkbox"].form-control, input[type="radio"].form-control {
  
  // On supprime l'élément, sera simulé par le label
  display: none ; 

  // On prépare le terrain
  & + label {
    position: relative ; 
    padding-left: 1.5em ; 
    &:before {
      .icon ; 
      position: absolute ; 
      left: 0 ;
      color: inherit ;  
      transition: color ease-in-out .15s,  
    }
  }
  // Changement de couleur quand on survol le label
  &:not(:disabled) + label:hover:before {
    color: @forms-elements-focus-color ; 
  }
  // Élément désactivé
  &:disabled + label {
    cursor: not-allowed ;
    &:before {
      color: @forms-elements-disabled-color-d ; 
    }
  }

  &.form-control-toogle + label {
    padding-left: 0em ; 
  }

  &.form-control-toogle + label:before {
    content: "" ;
    
    position: relative ;
    top: 0.15em ;
    height: 0.75em ;
    width: 1.75em ;
    margin-right: 1em ;
    
    background-color: @color-darkGray-l ;
    border-radius: 1.5em ;
    
    transition: .2s ;
  }

  &.form-control-toogle + label:after {
    
    content: "" ;
    
    position: absolute ;
    left: -0.3em ;
    top: 0.3em ;
    height: 1.2em ;
    width: 1.2em ;
    margin-right: 1em ;
    
    background-color: white ;
    border-radius: 50% ;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37) ;

    transition: .2s ;
  }
  
  &.form-control-toogle:disabled + label:before {
    background-color: @forms-elements-disabled-color-d ;
  }
  &.form-control-toogle:disabled + label:after {
    background-color: @color-lightGray-l ;
  }

  &.form-control-toogle:checked + label:before {
    background-color: @element-success-background ;
  }
  &.form-control-toogle:checked + label:after {
    left: 0.85em ;
  }
  
  &:not(:disabled) + label:hover:after {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37),
                0 0 4px 0 @forms-elements-focus-color ;
  }
}

// Checkbox
input[type="checkbox"].form-control:not(.form-control-toogle) {
  &:not(:checked) + label:before {
    .icon-char('checkbox-blank') ; 
  }
  &:checked + label:before {
    .icon-char('checkbox') ; 
  }
}
// Radio
input[type="radio"].form-control:not(.form-control-toogle) {
  &:not(:checked) + label:before {
    .icon-char('radio-button-off') ; 
  }
  &:checked + label:before {
    .icon-char('radio-button-on') ; 
  }
}

// Submit
input[type="submit"].form-control {
  .btn ; .btn-primary ;
}


// Autres éléments, général 
.form-control {
  
  box-shadow: none ;  
  transition: border-color ease-in-out .15s,  
              box-shadow ease-in-out .15s ;
  // Focus
  &:focus {
    border-color: @forms-elements-focus-color ;
    box-shadow: 0 0 8px fade(@forms-elements-focus-color, 60%) ; 
    outline: 0 ;
  }

  // Placeholder
  &::-moz-placeholder {
    color: @forms-elements-placeholder-color ;
    opacity: 1 ; 
  }
  &:-ms-input-placeholder { 
    color: @forms-elements-placeholder-color ;
  }
  &::-webkit-input-placeholder {
    color: @forms-elements-placeholder-color ;
  }
}

// Disabled
.form-control[disabled], .form-control[readonly], 
fieldset[disabled] .form-control {
  cursor: not-allowed ;
  background-color: @forms-elements-disabled-color;
  opacity: 1 ;
}

// Required
.form-control[required] + i::after {
  
  content: '●' ;
  position: absolute ; 
  top: 2.3em ; 
  right: 0.5em ;
  color: darken(@element-primary-border, 10%) ; 
}


// Form-group
.form-group {

  .form-control {
    margin-bottom: 0 ; 
  }
}



// Input-group 
.input-group {
  
  display: flex ; 
  flex-direction: row ; 
 
  margin-bottom: 0.8em ; 
  width: 100% ; 
 
  // Champs de formulaire
  .form-control {
    
    flex: 1 ; 
    
    min-width: 1em ; 
    width: auto ; 
    margin: 0; 
    
    &:first-child { .border-right-radius(0) ; }
    &:not(:first-child):not(:last-child) {
      border-radius: 0 ; 
    }
    &:last-child { .border-left-radius(0) ; }
  }

  // Addon et button
  .input-group-addon { 
    .btn-group ; 
  
    .background-border-color (@element-default-background, 
                              @element-default-border) ;
    padding: 0.3em @small-value ; 
    border-radius: 4px ; 
    font-family: @labels-badges-buttons-font-family ; 
    text-align: center ;
    color: @element-default-color ;

    &:first-child { .border-right-radius(0) ; }
    &:not(:first-child):not(:last-child) {
      border-radius: 0 ; 
    }
    &:last-child { .border-left-radius(0) ; }
  }

  .input-group-btn {
    .btn-group ; 

    button, .btn {
      padding: 0.3em @small-value ; 
      height: 100% ;
    }
    
    &:first-child { 
      button, .btn { .border-right-radius(0) ; }
    }
    &:not(:first-child):not(:last-child) {
      button, .btn { border-radius: 0 ; }
    }
    &:last-child { 
      button, .btn { .border-left-radius(0) ; }
    }
  }
    
  .input-group-addon, .input-group-btn {
    vertical-align: middle ; 
    white-space: nowrap ; 
  }
}


// Feedback 
.has-feedback {

  position: relative ; 
  
  .form-control {
    
    padding-right: 2em ; 
    margin-bottom: 1.5em ; 

    &:focus ~ .feedback { opacity: 1 !important ; } 
      
    & ~ .feedback { 
      
      position: relative ;
      top: -1.5em ;
      opacity: 0 ; 
      //min-height: 1em ;
      margin: 0 1em -1.5em 1em ; 
      padding: 0 0.5em ; 
      .border-bottom-radius(4px) ;
      background: @element-primary-background-l ;
      transition: opacity ease-in-out .15s ;
    } 

    & + i::before {
      .icon ; 
      position: absolute ; 
      top: 2.1em ; 
      right: 0.5em ;
      line-height: 1.5 ;
    }
  }

  // Success
  &.has-success {
    color: darken(@element-success-border, 25%) ; 
    .form-control {
      border-color: @forms-elements-success-color ;
      &:focus {
        box-shadow: 0 0 8px fade(@forms-elements-success-color, 60%) ; 
      }
      & ~ .feedback { 
        background: @element-success-background-l ;
      } 
      & + i::before {
        .icon-char('check') ; 
      }
      & + i::after { content: '' ; }
    }
  }
  // Warning
  &.has-warning {
    color: darken(@element-warning-border, 25%) ; 
    .form-control {
      border-color: @forms-elements-warning-color ;
      &:focus {
        box-shadow: 0 0 8px fade(@forms-elements-warning-color, 60%) ; 
      }
      & ~ .feedback { 
        background: @element-warning-background-l ;
      } 
      & + i::before {
        .icon-char('warning') ; 
      }
      & + i::after { content: '' ; }
    }
  }
  // Error
  &.has-error {
    color: darken(@element-danger-border, 25%) ; 
    .form-control {
      border-color: @forms-elements-error-color ;
      &:focus {
        box-shadow: 0 0 8px fade(@forms-elements-error-color, 60%) ; 
      }
      & ~ .feedback { 
        opacity: 0.7 ; 
        background: @element-danger-background-l ;
      } 
      & + i::before {
        .icon-char('error') ; 
      }
      & + i::after { content: '' ; }
    }
  }
}

