
/**
 * Module icônes
 */

@import "../../../node_modules/kephafont/dist/KephaFont" ;

// Personnalisation des liens
a[href^="http:"]:not(.skipLinkIcon)::after, a[href^="https:"]:not(.skipLinkIcon)::after {
  .icon ; .icon-char('open-in-new') ;
  position: relative ;
  margin-left : 0.1em ;
  margin-right : 0.1em ;
  top: 0.2em ;
}

