/**
 * Pour ce qui concerne l'informatique
 */

code, pre, samp, kbd {
  border-radius: 2px ; 
	/* IE fix */
	white-space: pre-line ;
	white-space: pre-wrap ;
	font-family: @font-stack-monospace ;
  font-size: 0.9em ; 
  hyphens: none ; 
}

kbd {
  padding: 0 2px ;
  border: 1px solid @color-mediumGray ; 
}

code, pre, samp {
  padding: 2px 4px ; 
  background-color: @color-lightGray ; 
  color: black ;
}

pre {
  line-height: @baseline-ratio/0.9 ; 
  padding-left: @baseline-height ;  
  border-radius: 4px ; 
}

