/**
 * Labels et badges
 */

// Général
.label, .badge {
  padding: 0.2em 0.6em 0.3em ; 
  .background-border-color (@element-default-background, 
                            @element-default-border) ;
  font-family: @labels-badges-buttons-font-family ; 
  font-size: 75% ; 
  color: @element-default-color ;

  vertical-align: baseline ; 
  line-height: 1 ; 
  white-space: nowrap ; 
}


// Les labels
.label {
  display: inline ;

  border-radius: 0.25em ; 
  font-size: 75% ; 

  &.label-primary {
    .background-border-color (@element-primary-background, 
                              @element-primary-border) ; 
    color: @element-primary-color ; 
  }
  &.label-success {
    .background-border-color (@element-success-background, 
                              @element-success-border) ; 
    color: @element-success-color ; 
  }
  &.label-info {
    .background-border-color (@element-info-background, 
                              @element-info-border) ; 
    color: @element-info-color ; 
  }
  &.label-warning {
    .background-border-color (@element-warning-background, 
                              @element-warning-border) ; 
    color: @element-warning-color ; 
  }
  &.label-danger {
    .background-border-color (@element-danger-background, 
                              @element-danger-border) ; 
    color: @element-danger-color ; 
  }
}

// Les badges
.badge {
  @badge-font-size: @base-font-size * 0.75 ;

  display: inline-block ;
  min-width: @badge-font-size ; 
  border-radius: @badge-font-size ; 
  font-size: @badge-font-size  ; 
  font-weight: bold ; 

  &.badge-primary {
    .background-border-color (@element-primary-background, 
                              @element-primary-border) ; 
    color: @element-primary-color ; 
  }
  &.badge-success {
    .background-border-color (@element-success-background, 
                              @element-success-border) ; 
    color: @element-success-color ; 
  }
  &.badge-info {
    .background-border-color (@element-info-background, 
                              @element-info-border) ; 
    color: @element-info-color ; 
  }
  &.badge-warning {
    .background-border-color (@element-warning-background, 
                              @element-warning-border) ; 
    color: @element-warning-color ; 
  }
  &.badge-danger {
    .background-border-color (@element-danger-background, 
                              @element-danger-border) ; 
    color: @element-danger-color ; 
  }
}

