/**
 * Menus
 */

.nav, .nav-h {

  background-color: @color-lightGray ; 
  font-family: @font-stack-headings ; 
  color: @color-darkGray ; 

  ul {
    list-style: none ; 
    padding: 0 ; 

    li {

      &.nav-header {
        padding: @tiny-value @small-value ;
        font-weight: bold ; 
        color: black ; 
      }

      &.disabled, &.disabled a {
        color: @color-mediumGray ; 
      }

      &.active a {
        background-color: @color-lightGray-l ; 
      }
      
      &.divider {
        overflow: hidden ; 
        height: 1px ; 
        margin: (@tiny-value - 1) 0 ; 
        background-color: @color-mediumGray ; 
      }

      & a {
        display: block ; 
        padding: @tiny-value @small-value ;
        color: @color-darkGray ; 
        &:hover {
          background-color: @color-lightGray-l ; 
          text-decoration: none ; 
        }
        // On désactive le signalement des liens externes
        &::after {
          content: '' !important ;
        }
      }
    }
  }

  &.nav-dark {
    background-color: @color-darkGray ; 
    color: white ; 
    ul li {
      &.nav-header { color: @color-mediumGray ; }
      &.disabled, &.disabled a { color: @color-darkGray-l ; }
      &.active a { background-color: @color-mediumGray ; }
      &.divider { background-color: @color-darkGray-l ; }
      & a {  
        color: white ; 
        &:hover { background-color: @color-darkGray-l ; }
      }
    }
  }

  &.nav-light {
    background-color: @primary-background ; 
    color: white ; 
    ul li {
      &.active a { background-color: @color-lightGray ; }
      & a {  
        &:hover { background-color: @color-lightGray ; }
      }
    }
  }
}

.nav {
  padding: @tiny-value 0 ;

}

.nav-h {
  .nav ; 

  // Affiche un menu horizontal, uniquement pour les plus hautes
  // resolutions
  @media (min-width: (@small-screen + 1)) {

    padding: 0 @tiny-value ;

    & > ul {
      display: flex ; 
      flex-direction: row ; 
      flex-wrap: wrap ; 
      justify-content: space-between ; 
      & > li {
        & a {  
          padding: @tiny-value ;
        }
      
        &.divider {
          height: auto ; 
          width: 1px ; 
          margin: 0 (@tiny-value - 1) ; 
        }
      }
    }
  }
}

// Menu acordéon
.has-sub {
  
  cursor: pointer ;  

  i { float: right ; font-size: 1.2em ; } 

  ul {
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.37) ;
  }
  li {
    height: 0 ; 
    overflow: hidden ; 
    opacity: 0 ; 
    transition: all 0.25s ease-in-out ;

    & > a {
      padding-left: 1.8em !important ;
    }
  }

  &.deployed {
    i { transform: rotate(180deg) ; } 

    & > ul > li {
      opacity: 1 ; 
      min-height: 2em ; 
      height: auto ; 
    }
  }
}


