/**
 * Pagination
 */

ul.pagination {

  list-style: none ;
  display: inline-block ; 
  vertical-align: middle ; 
 
  li {
   
    float: left ; 
  
    a {
    
      .btn ;

      background-color: @primary-background ;
      color: @base-color ;
    }

    &:not(:first-child) > a {
      border-left-color: rgba(0, 0, 0, 0.1) ;
      &:hover {
       border-left-color: transparent ; 
     } 
    }
    &:hover > a + * {
      border-left-color: transparent ; 
    }

    &:first-child:not(:last-child) > a {
      .border-right-radius(0px) ; 
    }
    &:not(:first-child):not(:last-child) > a {
      border-radius: 0px ; 
    }
    &:last-child:not(first-child) > a {
      .border-left-radius(0px) ; 
    }

    &.active > a {

      background-color: @element-primary-background ;
      color: @element-primary-color ;
    
      &:active, &:focus, &:hover {
        background-color: @element-primary-background-hover ; 
        color: @element-primary-color-hover ; 
      }
    }

    &.disabled > a { 
      cursor: not-allowed ;
      color: @element-default-background-hover ;
      &:active, &:focus, &:hover {
        background-color: @primary-background ;
        color: @element-default-background-hover ;
      }
    }
  }
}

