/**
 * Panels
 */

.panel { 
 
  .paper-shadow ;
  .z1 ; 
  
  border-radius: 4px ;

  .panel-heading {
    
    background-color: @element-default-background ; 
    padding: 0.3em @baseline-height / 2 0.3em @baseline-height / 2 ; 
	  font-size: 1em ;
    font-weight: normal ;
    color: white ;
    border-radius: 4px 4px 0 0 ;
  }

  &.panel-primary .panel-heading {
    background-color: @element-primary-background ; 
  }
  
  &.panel-success .panel-heading {
    background-color: @element-success-background ; 
  }

  &.panel-info .panel-heading {
    background-color: @element-info-background ; 
  }

  &.panel-warning .panel-heading {
    background-color: @element-warning-background ; 
  }

  &.panel-danger .panel-heading {
    background-color: @element-danger-background ; 
  }
  
  .panel-body {
    padding: @baseline-height / 2 ; 
  }
}

