/**
 * Pricing
 */ 

ul.pricing {
    
  display: flex ;
  flex-flow: row wrap ; 
  
  padding: 0 ; 
  list-style: none ; 

  & > li {
    .paper-shadow ; .z1 ; 
    position: relative ; 
    flex-grow: 1 ; 

    display: flex ;
    flex-direction: column ;  
    
    margin-bottom: @baseline-height ; 

    border-radius: 4px ; 
    text-align: center ; 

    &.active {
      .z4 ; 
      top: 5px ; 
      z-index: 1 ; 
      margin-right: -@baseline-height * 0.9 ; 
      margin-left: -@baseline-height * 0.9 ; 
    }

    & > header {
      padding: @baseline-height/2 @baseline-height ; 
      background-color: @element-default-background-hover ; 
      color: white ; 

      h3 {
        margin: 0 ; padding: 0 ;  
        color: white ; 
      }
    }

    & > main {
      flex: 1 ; 
      padding: @baseline-height/2 @baseline-height ; 
      background-color: lighten(@element-default-background-hover, 30%) ; 
      h4 { margin: 0 ; padding: 0 ; }
      ul { 
        list-style: none ; 
        padding: 0 ; 
        border-top: 1px solid rgba(0, 0, 0, 0.1) ;  
        li {
          line-height: 1.5 ; 
        }
      }
    }

    & > footer {
      padding: @baseline-height ; 
      background-color: #E6E9ED ; 
    }
  
    // Primary
    &.price-primary { 
      & > header { background-color: @element-primary-background-hover ; }
      & > main { 
        background-color: lighten(@element-primary-background-hover, 30%) ; 
      }
    }  
    // Success
    &.price-success { 
      & > header { background-color: @element-success-background-hover ; }
      & > main { 
        background-color: lighten(@element-success-background-hover, 30%) ; 
      }
    }  
    // Info
    &.price-info { 
      & > header { background-color: @element-info-background-hover ; }
      & > main { 
        background-color: lighten(@element-info-background-hover, 30%) ; 
      }
    }  
    // Warning
    &.price-warning { 
      & > header { background-color: @element-warning-background-hover ; }
      & > main { 
        background-color: lighten(@element-warning-background-hover, 30%) ; 
      }
    }  
    // Danger
    &.price-danger { 
      & > header { background-color: @element-danger-background-hover ; }
      & > main { 
        background-color: lighten(@element-danger-background-hover, 30%) ; 
      }
    }  
  }
}

