/**
 * Wave
 */

.wave-effect {
  z-index: 1 ; 
  position: relative ; 
  overflow: hidden ; 
  user-select: none ; 
}

.wave {
  position: absolute ; 
  border-radius: 50% ; 
  opacity: 1 ; 
  z-index: -1 ; 
  background: rgba(255, 255, 255, 0.25) ; 
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 2s cubic-bezier(0.23, 1, 0.32, 1) ; 
  transform: scale(0) ; 
  pointer-events: none ; 
}

